In [1]:
# Import Dependencies
import pandas as pd
from pathlib import Path

In [2]:
csv_path = Path("Resources/Police_Incident_Reports.csv")
crime_data = pd.read_csv(csv_path, encoding="UTF-8")
crime_data.head()

,OBJECTID,IncidentNumber,Date_Occurred,Date_Found,Offense_Code,Offense_Description,Block,Street,Precinct,Subdivision,Zone_ID,Case_Status
0,1,2022077686,2022/12/07 04:10:00+00,2022/12/07 04:20:00+00,13B1,"ASSAULT, SIMPLE",2400.0,CASTLETON COMMERCE WAY,1,CASTLETON COMMERCE PARK,124,EXCEPTIONALLY CLEARED
1,2,2022077830,2022/12/06 22:48:00+00,2022/12/06 22:48:00+00,13B2,"ASSAULT, SIMPLE, DOMESTIC",900.0,IRON BRIDGE DR,4,BLUEGRASS PARK,426,UNDER REVIEW
2,3,2022077830,2022/12/06 22:48:00+00,2022/12/06 22:48:00+00,13B2,"ASSAULT, SIMPLE, DOMESTIC",900.0,IRON BRIDGE DR,4,BLUEGRASS PARK,426,UNDER REVIEW
3,4,2022077885,2022/12/04 07:02:00+00,2022/12/04 10:01:00+00,13B1,"ASSAULT, SIMPLE",400.0,OCEANA BLVD,2,OCEANA,228,UNDER REVIEW
4,5,2022077890,2022/12/04 06:45:00+00,2022/12/04 07:45:00+00,13B2,"ASSAULT, SIMPLE, DOMESTIC",300.0,16TH ST,2,OCEANFRONT - 31ST ST SOUTH,227,CLEARED BY ARREST

In [3]:
# Convert 'Date_Found' to datetime format
crime_data['Date_Found'] = pd.to_datetime(crime_data['Date_Found'])

# Extract year and month from the 'Date_Found' column
crime_data['Year'] = crime_data['Date_Found'].dt.year
crime_data['Month'] = crime_data['Date_Found'].dt.month

# Filter data for Part 1 offenses and remove Unfounded cases
part_1_data = crime_data[crime_data['Offense_Code'].str.startswith('1') & (crime_data['Case_Status'] != 'Unfounded')]

# Filter data for the first half of each year (January to June)
first_half_data = part_1_data[(part_1_data['Month'] >= 1) & (part_1_data['Month'] <= 6)]

# Group data by year and offense type
grouped_data = first_half_data.groupby(['Year', 'Offense_Description']).size().reset_index(name='Count')

# Create a pivot table
pivot_table = grouped_data.pivot_table(index='Offense_Description', columns='Year', values='Count', aggfunc='sum', fill_value=0)

# Calculate total count for each offense
pivot_table['Total'] = pivot_table.sum(axis=1)

# Sort and extract top 10 offenses
top_10_offenses = pivot_table.sort_values(by='Total', ascending=False).head(10)

# Display the results
top_10_offenses.head(10)

Year                           2018  2019  2020  2021  2022  2023  Total
Offense_Description
ASSAULT, SIMPLE                1095  1185  1165  1088  1213  1251   6997
ASSAULT, SIMPLE, DOMESTIC       887   984   997   999   962  1051   5880
THREATEN BODILY HARM            263   258   272   224   260   340   1617
ASSAULT, AGGRAVATED              89    70    70    91    70    78    468
ROBBERY                          24    52    76    74    80    69    375
ASSAULT, AGGRAVATED, DOMESTIC    74    51    47    69    37    35    313
STALKING                         44    51    43    18    31    44    231
SEXUAL BATTERY                   51    45    46    30    29     5    206
FORCIBLE RAPE                    31    32    37    28    33    30    191
ABDUCTION/ KIDNAPPING            22    31    21    27    20    22    143

In [4]:
# Convert 'Date_Found' to datetime format
crime_data['Date_Found'] = pd.to_datetime(crime_data['Date_Found'])

# Extract year and month from the 'Date_Occurred' column
crime_data['Year'] = crime_data['Date_Found'].dt.year
crime_data['Month'] = crime_data['Date_Found'].dt.month

# Filter data for ASSAULT, SIMPLE and the first half of 2023
assault_simple_data_2023 = crime_data[(crime_data['Offense_Description'] == 'ASSAULT, SIMPLE') & (crime_data['Year'] == 2023) & (crime_data['Month'] <= 6)]

# Count incidents in each Zone for the first half of 2023
zone_incident_counts_2023 = assault_simple_data_2023['Zone_ID'].value_counts()

# Identify the Top Zone for the first half of 2023
top_zone_2023 = zone_incident_counts_2023.idxmax()

# Display the result
print(f"The Zone with the most ASSAULT, SIMPLE incidents in the first half of 2023 is Zone {top_zone_2023}.")

# Calculate incident counts for the Top Zone in previous years
historical_top_zone_counts = crime_data[(crime_data['Offense_Description'] == 'ASSAULT, SIMPLE') & (crime_data['Zone_ID'] == top_zone_2023)]['Year'].value_counts()

# Display the trend
if len(historical_top_zone_counts) > 1:
    trend = 'up' if historical_top_zone_counts.idxmax() == 2023 else 'down'
    print(f"The trend for Zone {top_zone_2023} compared to previous years is {trend}.")
else:
    print(f"Not enough historical data to determine the trend for Zone {top_zone_2023}.")

The Zone with the most ASSAULT, SIMPLE incidents in the first half of 2023 is Zone 227.
The trend for Zone 227 compared to previous years is up.

In [5]:
# Calculate the maximum value
max_value = historical_top_zone_counts.max()

# Calculate the minimum value
min_value = historical_top_zone_counts.min()

# Calculate the mean
mean_value = historical_top_zone_counts.mean()

# Calculate 1 standard deviation value
std_dev_1_value = mean_value + historical_top_zone_counts.std()

# Calculate 2 standard deviation value
std_dev_2_value = mean_value + 2 * historical_top_zone_counts.std()

# Display the results
print(f"Maximum value: {max_value}")
print(f"Minimum value: {min_value}")
print(f"Mean value: {mean_value}")
print(f"1 Standard Deviation value: {std_dev_1_value}")
print(f"2 Standard Deviation value: {std_dev_2_value}")

Maximum value: 294
Minimum value: 6
Mean value: 150.0
1 Standard Deviation value: 353.6467529817257
2 Standard Deviation value: 557.2935059634514

In [16]:
# Count the number of incidents for ASSAULT, SIMPLE and the first half of 2023 in Zone_id 227
incident_count_2023_zone_227 = assault_simple_data_2023_zone_227.shape[0]

Number of incidents for ASSAULT, SIMPLE and the first half of 2023 in Zone_id 227: 0

In [17]:

# Drop rows with NaN values in the 'Block' column
assault_simple_data_2023 = assault_simple_data_2023.dropna(subset=['Block'])

# Convert 'Block' to string
assault_simple_data_2023['Block'] = assault_simple_data_2023['Block'].astype(str)

# Count incidents in each address block for the first half of 2023
address_block_counts_2023 = assault_simple_data_2023['Block'].value_counts()

# Identify the Top 10 address blocks
top_10_address_blocks = address_block_counts_2023.head(10)

# Display the results
print("Top 10 Address Blocks with the most incidents in the first half of 2023:")
print(top_10_address_blocks)

Top 10 Address Blocks with the most incidents in the first half of 2023:
1000.0    69
300.0     49
700.0     46
900.0     46
400.0     40
1100.0    37
200.0     35
600.0     35
800.0     33
2000.0    33
Name: Block, dtype: int64

In [7]:
# Assess whether the top block segment is a systemic problem or an outlier
total_incidents_2023_zone_227 = len(assault_simple_data_zone_227_2023)
top_block_percentage = top_10_address_blocks.sum() / total_incidents_2023_zone_227 * 100

if top_block_percentage >= 80:
    print("The top address block segment appears to be a systemic problem.")
else:
    print("The top address block segment may be an outlier.")

NameError: name 'assault_simple_data_zone_227_2023' is not defined